.definedWords {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: blue;
  height: 40px;
}
.definedWords:hover {
  color: rgb(0, 0, 188);
  cursor: pointer;
}

.defWordBox {
  display: flex;
  flex-direction: column;
}

.microphoneIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageDrop {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 4pc;
  margin-right: 4pc;
}
.speechButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 3pc;
  margin-right: 3pc;
}
.inputOutput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .defWordBox{
    flex-direction: row;
    justify-content: center;
  }
}