  .welcome {
    text-align: center;
    margin-top: 100px;
    color: #1a75d2;
  }

  .welcome::before {
    content: " ";
    animation: change 20s infinite;
    padding-left: 10px;
  }

  @keyframes change {

    0% {
        content: "Welcome";
    }

    20% {
        content: "Bienvenidos";
    }

    40% {
        content: "欢迎";
    }
    60% {
        content: "いらっしゃいませ";
    }
    80% {
        content: "Bienvenue";
    }
    90% {
        content: "Benarrivato";
   }
    100% {
        content: "Benarrivato";
    }
  }

  .historyBody {
    color: #1a75d2;
  }

  